<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../styles/route-map.css">
    <title>Document</title>



    <style>
        body{
            margin: 0;
            padding: 0;
            background-color: #202020;
        }
    </style>
</head>
<body>



    <section class="route-map">



        <div class="route-squares">

            <div class="rout-path">
                <div class="r-path-points">
                    <p>
                        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Eum, sequi.
                    </p>
                    <div class="r-circle-1"></div>
                    <p>
                        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Eum, sequi.
                    </p>
                    <div class="r-circle-2"></div>
                    <p>
                        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Eum, sequi.
                    </p>
                    <div class="r-circle-3"></div>
                </div>
                <div class="r-path">
                    <svg width="275" height="1106" viewBox="0 0 275 1106" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M99 1C99 1 303.5 86.5 270 265C236.5 443.5 44.5 563.5 8.5 736C-40.4289 970.451 169.5 1105 169.5 1105" stroke="#393939" stroke-width="2"/>
                    </svg>                        
                </div>
            </div>

            <div class="r-square"></div>
            <div class="r-square"></div>
            <div class="r-square"></div>
            <div class="r-square"></div>
            <div class="path-bg">
                <div class="path-bg-el"></div>
                <div class="path-bg-el"></div>
                <div class="path-bg-el"></div>
                <div class="path-bg-el"></div>
                <div class="path-bg-el"></div>
                <div class="path-bg-el"></div>
            </div>
        </div>



    </section>



</body>
</html>