@import url(../styles/style.css);

:root{
    --background:#202020;
    --lightgreen:#6FB444;
    --darkgreen:#122903;
  }


  body{
    background-color: var(--background);
  }


  .about-hero{
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
  }

  .about-hero img{
    position: absolute;
    transform: rotate(20deg)scale(1.4);
    right: -50%;
    width: 100%;
  }
  .about-hero p{
    margin-bottom: 90px;
    color: white;
    font-family: 'helveticathin';
    text-align: center;
  }
  .about-hero span{
    font-family: 'helveticabold';
    font-size: 20px;
  }