@import url(../styles/style.css);


:root{
    --background:#101010;
    --lightgreen:#D6001C;
    /*Light green #6FB444; */
    --darkgreen:#122903;
  }



.footer-icons .f-icon svg path{
    fill: white;
}
.footer-container{
    position: relative;
    /* width: 100%; */
    height: 70rem;
    display: flex;
    flex-direction: column;
    padding-left: 40px;
    padding-top: 50px;
    gap: 30px;
    color: white;
    background-color: black;
}
.footer-container .footer-sections{
    position: relative;
    z-index: 10;
    display: flex;
    gap: 0px;
    flex-direction: column;
    top: 60px;
}
.footer-container .footer-sections h2{
    color: var(--lightgreen);
    font-family: 'helveticaBold';
    margin: 0;
    font-size: 20px;

}
.footer-container .footer-sections p{
    font-family: 'helveticaThin';
    font-weight: 900;
    font-size: 10px;

}



.footer-container .footer-sections .footer-input{
    width: 200px;
    height: 50px;
    position: relative;
    margin-top: 10px;
    margin-bottom: 10px;
}


.footer-container .footer-sections input{
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 50px;
    border: 0px;
    background-color: rgb(27, 27, 27);
    padding-left: 20px;
    font-family: 'helveticaThin';

}
.footer-container .footer-sections button{
    position: absolute;
    border: 0px;
    background-color: transparent;
    top: 30%;
    right: 0;
}



.footer-container .footer-sections button:focus{
    outline: black;
}
.footer-container .footer-sections input:focus{
    color: white;
    outline: none;
}
.footer-container .footer-sections input::placeholder{
    color: white;
    font-family: 'helveticaThin';
}
.footer-container .footer-sections:nth-child(3) .footer-icons{
    display: flex;
    gap: 10px;
    margin-top: 10px;
}

.footer-container .footer-bg{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 5;
    /* background-color: black; */
    background-image: url(../assets/images/footerbg.jpg);
}
.footer-container .footer-bg video{
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    height: 350px;
} 

.footer-container .footer-bg .lottie_comp{
    position: absolute;
    bottom: 0;
    width: 248px;
    margin: 98px 50%;
    transform: translateX(-50%);
}


.footer-container .footer-bg .footer-copy{
    position: absolute;
    bottom: 0;
    height: 25px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--lightgreen);
    color: var(--background);
}
.footer-copy p{
    font-size: 10px;
    font-family: 'helvetica';
}


@media (min-width: 481px) and (max-width: 768px) {

    .footer-container{
        height: 25rem;
        flex-direction: row;
        justify-content: end;
        padding-top: 0px;
        display: grid;
        grid-template-columns: repeat(2,0.3fr);
        grid-template-rows: repeat(2,0.3fr);
        place-items: end;
    }

    /* .footer-container .footer-bg {
        position: absolute;
        width: 100%;
        height: auto;
        top: 0;
        left: 0;
        z-index: 5;
        background-color: black;
    } */
    

    .footer-container .footer-sections:nth-child(3) .footer-icons{
        display: flex;
        flex-direction: row;
    }

    .footer-container .footer-sections:nth-child(3){
        flex-direction: row;
        grid-column: span 1;
        flex-direction: row;
        gap: 30%;
    }
    .footer-container .footer-sections {
        width: 130px;
        height: 80%;
        position: relative;
        z-index: 10;
        display: flex;
        gap: 0px;
        flex-direction: column;
        top: 13px;
        margin-right: 9px;
    }
    .footer-container .footer-sections h2 {
        font-family: 'helveticaBold';
        margin: 0;
        font-size: 12px;
    }
    .footer-container .footer-sections p {
        font-family: 'helveticaThin';
        font-weight: 900;
        font-size: 8px;
    }



    /* .footer-container .footer-sections .footer-input {
        position: relative;
    } */

    .footer-container .footer-sections .footer-input {
        width: 130px;
        height: 42px;
    }



    .footer-container .footer-sections input {
        width: 110px;
        height: 25px;
        border-radius: 50px;
        border: 0px;
        background-color: rgb(27, 27, 27);
        padding-left: 20px;
        margin-top: 10px;
        font-family: 'helveticaThin';
    }
    .footer-container .footer-sections:nth-child(3) .footer-icons .f-icon svg{
        width: 18px;
    }
    .footer-container .footer-sections button {
        border: 0px;
        background-color: transparent;
    }
    .footer-container .footer-sections button svg {
        width: 20px;
    }
    .footer-container .footer-sections input::placeholder{
        color: white;
        font-family: 'helveticaThin';
        font-size: 10px;
    }

    .footer-container .footer-bg video{
        position: absolute;
        bottom: 0;
        left: 20%;
        /* transform: translateX(-50%); */
        width: 250px;
        height: 250px;
    } 

    .footer-container .footer-bg .lottie_comp {
        width: 256px;
        margin: 64px 180px;
    }


}


@media (min-width: 769px) and (max-width: 1024px) {
    .footer-container{
        flex-direction: row;
        position: relative;
        width: 100%;
        height: 20rem;
        display: flex;
        padding-left: 0px;
        padding-top: 0px;
        justify-content: end;
        gap: 30px;
        color: white;
        /* background-color: aquamarine; */
    }

    

    /* .footer-container .footer-bg {
        position: absolute;
        width: 100%;
        height: auto;
        top: 0;
        left: 0;
        z-index: 5;
        background-color: black;
    } */
    .footer-container .footer-sections:nth-child(3) .footer-icons{
        display: flex;
        flex-direction: row;
    }
    .footer-container .footer-sections {
        height: 80%;
        position: relative;
        z-index: 10;
        display: flex;
        gap: 0px;
        flex-direction: column;
        top: 30px;
        margin-right: 50px;
    }

    .footer-container .footer-bg video{
        position: absolute;
        bottom: 0;
        left: 15%;
        /* transform: translateX(-50%); */
        width: 300px;
        height: 300px;
    } 


    .footer-container .footer-bg .lottie_comp {
        width: 229px;
        margin: 39px 160px;
    }
}


@media (min-width: 1025px) {
    .footer-container{
        flex-direction: row;
        position: relative;
        /* width: 100%; */
        height: 25rem;
        display: flex;
        padding-left: 0px;
        /* padding-top: 0px; */
        justify-content: end;
        gap: 30px;
        color: white;
        /* background-color: aquamarine; */
    }

    

    /* .footer-container .footer-bg {
        position: absolute;
        width: 100%;
        height: auto;
        top: 0;
        left: 0;
        z-index: 5;
        background-color: black;
    } */
    .footer-container .footer-sections:nth-child(3) .footer-icons{
        display: flex;
        flex-direction: row;
    }
    .footer-container .footer-sections {
        height: 80%;
        position: relative;
        z-index: 10;
        display: flex;
        gap: 0px;
        flex-direction: column;
        top: 30px;
        margin-right: 115px;
    }

    .footer-container .footer-bg video{
        position: absolute;
        bottom: 0;
        left: 20%;
        /* transform: translateX(-50%); */
        width: 400px;
        height: 400px;
    } 

    .footer-container .footer-bg .lottie_comp{
        width: 300px;
        margin: 56px 263px;
    }
}