@import url(../styles/style.css);


.hero-container {
    width: 100%;
    height: 100vh;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    box-sizing: border-box;
}

.hero-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.hero-container .hero-text {
    position: absolute;
    color: #fff;
    padding: 10px;
    text-align: center;
    bottom: 80px;
    font-family: 'helveticaBold';
    font-size: 22px;
}

.hero-container .hero-text span {
    font-family: 'helveticaThin';
    font-size: 15px;
}




/* @media (min-width: 320px) and (max-width: 480px) {} */

@media (min-width: 481px) /*and (max-width: 1440px)*/ {
    .hero-container {
        width: 100%;
        height: 100vh;
        overflow: hidden;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: start;
        position: relative;
        box-sizing: border-box;
    }

    .hero-container .hero-text {
        position: absolute;
        color: #fff;
        padding: 10px;
        text-align: start;
        left: 50px;
        bottom: 50%;
        font-size: 40px;
        font-family: 'helveticaBold';
        font-weight: 900;
    }

    .hero-container .hero-text span {
        font-size: 25px;
        font-family: 'helveticaThin';
        font-weight: 100;
    }
}
