@import url(../styles/style.css);


.hero-container {
    width: 100%;
    height: 100dvh;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    box-sizing: border-box;
}

.hero-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.hero-container .hero-text {
    position: absolute;
    color: #fff;
    padding: 10px;
    text-align: center;
    bottom: 80px;
    font-family: 'helveticaBold';
    font-size: 22px;
}

.hero-container .hero-text span {
    font-family: 'helveticaThin';
    font-size: 15px;
}




.scale{
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: 1;
}

.snow{
    background-image: url('../assets/Events/Snow/snow-1.png');
    animation: first-snowfall 20s   infinite;
}

.snow1{
    background-image: url('../assets/Events/Snow/snow-2.png');
    animation: second-snowfall 40s  infinite;
    filter: blur(40%);
}

.snow2{
    background-image: url('../assets/Events/Snow/snowballs-lg.png');
    animation: third-snowfall 10s   infinite;
}

.snow3{
    background-image: url('../assets/Events/Snow/snowballs-md.png');
    animation: fourth-snowfall 10s   infinite;
}

.snow4{
    background-image: url('../assets/Events/Snow/snowballs-sm.png');
    animation: fifth-snowfall 10s   infinite;
}



@keyframes first-snowfall{
    0% {
        background-position: 0% 0%;
        opacity: .0;    
    }
    5%{
        opacity: .5;    

    }
    95%{
        opacity: .5;
    }
    100% {
        background-position: 100% 100%;
        opacity: .0;    

    }
}

@keyframes second-snowfall{
    0% {
        background-position: 0% 0%;
        opacity: .0;
    }
    5%{
        opacity: .2;    
    }
    95%{
        opacity: .2;
    }
    100% {
        background-position: 100% 100%;
        opacity: .0;
    }
}

@keyframes third-snowfall {
    0% {
        background-position: 0% 0%;
        opacity: .0;
    }
    50%{
        opacity: .2;
    }
    100% {
        background-position: 100% 100%;
        opacity: .0;
    }
}

@keyframes fourth-snowfall {
    0% {
        background-position: 0% 0%;
        opacity: .0;
    }
    50%{
        opacity: .1;
    }
    100% {
        background-position: 100% 100%;
        opacity: .0;
    }
}

@keyframes fifth-snowfall {
    0% {
        background-position: 0% 0%;
        opacity: .0;
    }
    50%{
        opacity: .1;
    }
    100% {
        background-position: 100% 100%;
        opacity: .0;
    }
}





/* @media (min-width: 320px) and (max-width: 480px) {} */

@media (min-width: 481px) /*and (max-width: 1440px)*/ {
    .hero-container {
        width: 100%;
        height: 100dvh;
        overflow: hidden;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: start;
        position: relative;
        box-sizing: border-box;
    }

    .hero-container .hero-text {
        position: absolute;
        color: #fff;
        padding: 10px;
        text-align: start;
        left: 50px;
        bottom: 50%;
        font-size: 40px;
        font-family: 'helveticaBold';
        font-weight: 900;
    }

    .hero-container .hero-text span {
        font-size: 25px;
        font-family: 'helveticaThin';
        font-weight: 100;
    }
}
