@import url(../styles/style.css);

:root {
    --background: #101010;
    --lightgreen:#6FB444;
    /*Light green #6FB444; */
    --darkgreen: #122903;
}

html,
body {
    -webkit-tap-highlight-color: transparent;
}

.nav-container nav {
    width: 100%;
    height: 60px;
    display: flex;
    position: fixed;
    z-index: 100;
    font-family: 'helvetica';
    transition: all .3s;
}

.nav-container nav.nav-bg{
    backdrop-filter: blur(10px) saturate(200%);
    -webkit-backdrop-filter: blur(10px) saturate(200%);
    background-color: rgba(112, 112, 112, 0.5);
    /* border: 1px solid rgba(255, 255, 255, 0.125); */
}


.nav-container .nav-logo {
    width: 50%;
    height: 100%;
    padding-left: 30px;
    padding-top: 5px;
    display: flex;
    justify-content: start;
    align-items: center;
}
.nav-logo svg path{
    fill: white;
}


.nav-container .nav-links {
    width: 50%;
    height: 100%;
    padding-right: 30px;
    display: flex;
    justify-content: end;
    align-items: center;
}

.nav-container .nav-links ul {
    display: flex;
    gap: 20px;
    list-style: none;
}

.nav-container .nav-links ul li a {
    color: white;
    text-decoration: none;
    position: relative;
}

.nav-container .nav-links ul li a:hover {
    color: var(--lightgreen);
    font-weight: 400;
}

.nav-container .nav-links ul li a::before {
    content: '';
    position: absolute;
    bottom: -22px;
    left: 0;
    width: 0;
    height: 2px;
    background-color: var(--lightgreen);
    transition: width 0.3s ease;
}

.nav-container .nav-links ul li a:hover::before {
    width: 100%;
}

.nav-container .nav-mob {
    display: none;
    position: relative;
    transition: all .3s;
    z-index: 100;
    cursor: pointer;
}

.nav-container .mob-nav {
    position: absolute;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 99;
    background-color: var(--background);
    transition: all, 1s;
    clip-path: circle(0px at 100% -5%);
    pointer-events: none;
}

.nav-container .mob-nav.open {
    clip-path: circle(900px at 50% 50%);
    pointer-events: all;
}


.nav-container .mob-nav ul {
    display: flex;
    flex-direction: column;
    list-style: none;
    justify-content: center;
    align-items: center;
    padding-right: 30px;
    gap: 30px;
}

.nav-container .mob-nav ul a,
.nav-container .nav-links ul a {
    text-decoration: none;
}

.nav-container .mob-nav ul a {
    color: white;
}

.nav-container .mob-nav ul li {
    transition: all, .3s;
}

.nav-container .mob-nav ul li:hover {

    transform: translateX(10px);
}

.nav-container .mob-nav ul li a:hover {
    font-weight: 600;
    color: var(--lightgreen);
}

.nav-mob svg circle {
    fill: white;
}



.nav-container .active {
    transform: rotate(90deg);
}




.mob-nav .mob-nav-bg {
    width: 100%;
    height: 100%;
    position: absolute;
    overflow: hidden;
    z-index: -1;
  }
  
  .bg-circle {
    /* background-color: #FFFFFF; */
    opacity: 0.05; 
    transition: all .3s;
    animation: moveScale 10s infinite linear, rotateForward 30s infinite linear;
  }
  
  @keyframes moveScale {
    0% {
      transform: translateY(0) scale(1);
    }
    50% {
      transform: translateY(-20px) scale(1.3);
    }
    100% {
      transform: translateY(0) scale(.9);
    }
  }

  @keyframes rotateForward{
    from{
        transform: rotate(0deg);
    }
    to{
        transform: rotate(360deg);
    }
  }
  
  /* Circle styles (assuming you want to keep them within the .mob-nav-bg container) */
  .bg-circle:nth-child(1) {
    position: absolute;
    top: 0;
    left: -147px;
    width: 16rem;
    height: 16rem;
    border-radius: 20rem;
    /* filter: blur(70px); */
  }
  
  .bg-circle:nth-child(2) {
    position: absolute;
    top: 151px;
    left: 730px;
    height: 5rem;
    width: 5rem;
    border-radius: 10rem;
    /* filter: blur(25px); */
  }
  
  .bg-circle:nth-child(3) {
    position: absolute;
    top: 489px;
    left: 478px;
    width: 2rem;
    height: 2rem;
    border-radius: 10rem;
    /* filter: blur(10px); */
  }
  
  .bg-circle:nth-child(4) {
    position: absolute;
    top: 486px;
    /* left: 33px; */
    width: 6rem;
    height: 6rem;
    border-radius: 10rem;
    /* filter: blur(21px); */
  }



@media (min-width: 320px) and (max-width: 480px) {
    .nav-container .nav-mob {
        display: block;
    }

    .nav-container .nav-links ul {
        display: none;
    }

    .nav-logo svg {
        /* margin-top: 5px; */
        width: 65px;
    }


    .bg-circle:nth-child(1) {
        position: absolute;
        top: 0;
        left: -111px;
        width: 10rem;
        height: 10rem;
        border-radius: 20rem;
        /* filter: blur(45px); */
        }

        .bg-circle:nth-child(2) {
            position: absolute;
            top: 151px;
            left: 275px;
            height: 5rem;
            width: 5rem;
            border-radius: 10rem;
            /* filter: blur(20px); */
        }

        .bg-circle:nth-child(3) {
        position: absolute;
        top: 498px;
        left: 244px;
        width: 1rem;
        height: 1rem;
        border-radius: 10rem;
        /* filter: blur(10px); */
        }

        .bg-circle:nth-child(4) {
        position: absolute;
        top: 486px;
        left: 33px;
        width: 4rem;
        height: 4rem;
        border-radius: 10rem;
        /* filter: blur(21px); */
        }
}

@media (min-width: 481px) and (max-width: 768px) {
    .nav-container .nav-mob {
        display: block;
    }

    .nav-container .nav-links ul {
        display: none;
    }
}

/* @media (min-width: 769px){
    .nav-container .mob-nav {
        display: none;
    }
} */
/* @media (min-width: 1025px) and (max-width: 1440px){
} */