@import url(../styles/style.css);

:root{
    --background:#202020;
    --lightgreen:#6FB444;
    --darkgreen:#122903;
  }


.route-map{
  color: white;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.rout-path{
  position: relative;
  display: flex;
  align-items:center ;
  justify-content: center;
}

.route-squares{
  position: relative;
  width: 250px;
}



.r-path-points div, .r-path-points p{
  position: absolute;
}

.r-path-points div{
  background-color: var(--lightgreen);
  width: 20px;
  height: 20px;
  border-radius: 50px;
}



.rout-path .r-path{
  width: 250px;
  display: flex;
  align-items: center;
}

.r-square{
  position: absolute;
  width: 90px;
  height: 90px;
  border-radius: 20px;
  background-color: var(--background);
  box-shadow: 10px 12px 10px -5px rgba(0,0,0,0.66),/*inset 16px 21px 20px #3d3d3d*/5px 5px 6px  #6d6d6d inset;
  -moz-box-shadow: 10px 12px 10px -5px rgba(0,0,0,0.66);

}

.r-square:nth-child(2){
  top: 21px;
  left: 73px;
}

.r-square:nth-child(3){
  top: 350px;
  left: 170px;
}

.r-square:nth-child(4){
  top: 664px;
  left: -16px;
}

.r-square:nth-child(5){
  top: 1000px;
  left: 111px;
}


.r-circle-1{
  top: 207px;
  left: 234px;
}

.r-circle-2{
  top: 540px;
  left: 85px;
}

.r-circle-3{
  top: 887px;
  left: 13px;
}


.r-para-1{
  top: 189px;
  left: 116px;
  font-size: 11px;
  width: 111px;
  text-align: center;
}

.r-para-2{
  top: 520px;
  left: 116px;
  font-size: 11px;
  width: 111px;
  text-align: center; 
}

.r-para-3{
  top: 867px;
  left: 45px;
  font-size: 11px;
  width: 111px;
  text-align: center; 
}