@import url(../styles/style.css);

:root{
    --background:#101010;
    --lightgreen:#D6001C;
    /*Light green #6FB444; */
    --darkgreen:#122903;
  }

  body{
    background-color: var(--background);
  }



  .service-container{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 50px;
  }

  .s-section-1{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .s-section-1 .s-sec1-img{
    width: 100%;
  }


  .s-section-1 .s-img{
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .s-section-1 .s-sec1-img img{
    width: 80%;
    margin-top: 100px;
  }

  .s-section-1 .s-sec1-cont{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top:35px ;
  }
  .s-section-1 .s-sec1-cont .s-sec1-card{
    width: 230px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-family: 'helvetica';
    color: white;
    font-weight: 100;
    border-radius: 20px;
    font-size: 15px;
    padding: 0px 15px 0px 15px;
    box-shadow: 10px 12px 10px -5px rgba(0,0,0,0.66),/*inset 16px 21px 20px #3d3d3d*/5px 5px 6px  #6d6d6d inset;
    -moz-box-shadow: 10px 12px 10px -5px rgba(0,0,0,0.66);
  }

  .s-sec1-card h1{
    color: var(--lightgreen);
    font-size: 25px;
    font-weight: 600;
    margin: 0px 0px 0px 0px;
    /* margin-bottom: 10px; */
  }
  .s-sec1-card button{
    width: 120px;
    height: 30px;
    border-radius: 50px;
    border: solid 1px var(--lightgreen);
    margin: -7px 0px 25px 0px;
    background-color: transparent;
    color: var(--lightgreen);
    transition: all .3s ease-in-out;
  }

  .s-sec1-card button:hover{
    background-color: var(--lightgreen);
    color: white;
  }

  .s-sec1-card p{
    margin: 20px 20px 20px 20px;
  }





  .s-section-3{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    margin-bottom: 50px;
  }
  .s-section-3 .s-sec3-cont{
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
    font-family: 'helvetica';
  }
  .s-section-3 .s-sec3-cont p{
    font-size: 13px;
  }
  .s-section-3 .s-sec3-cont h2{
    color: var(--lightgreen);
  }





@media (min-width: 481px) and (max-width:768px){
  .s-section-1{
    flex-direction: row;
    width: 70%;
  }
  .s-section-1:nth-child(2) .s-sec1-img{
    order: 2;
  }
  .s-section-1:nth-child(2) .s-sec1-cont{
    order: 1;
  }
  /* .s-section-1 .s-sec1-cont .s-sec1-card{
    width: 55%;
  } */
  .service-container{
    padding-top: 120px;
  }
}


@media (min-width: 769px) and (max-width:1024px){
  .s-section-1{
    flex-direction: row;
    width: 70%;
  }
  .s-section-1:nth-child(2) .s-sec1-img{
    order: 2;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .s-section-1:nth-child(2) .s-sec1-cont{
    order: 1;
  }

  .s-section-1 .s-sec1-cont .s-sec1-card{
    width: 250px;
  }
  .service-container{
    padding-top: 120px;
  }
}

@media (min-width: 1025px) /*and (max-width:1440px)*/{
  .s-section-1{
    flex-direction: row;
    width: 70%;
    /* margin-left: 10%;
    padding-top: 70px; */
  }
  .s-section-1:nth-child(2) .s-sec1-img{
    order: 2;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .s-section-1:nth-child(2) .s-sec1-cont{
    order: 1;
  }

  .s-section-1 .s-sec1-cont .s-sec1-card{
    width: 250px;
  }
  .s-section-3 .s-sec3-cont {
    width: 60%;
  }
  .service-container{
    padding-top: 120px;
  }
}
