@font-face {
  font-family: 'helvetica';
  src: url('../assets/fonts/HelveticaNowText-Regular.otf') format('truetype');
}

@font-face {
  font-family: 'helveticaThin';
  src: url('../assets/fonts/HelveticaNowText-Thin.otf') format('truetype');
}

@font-face {
  font-family: 'helveticaBold';
  src: url('../assets/fonts/HelveticaNowText-Black.otf') format('truetype');
}



  @font-face {
    font-family: 'nourd';
    src: url('../assets/fonts/nourd_regular.ttf') format('truetype');
  }

  

  :root{
    --background:#101010;
    --lightgreen:#D6001C;
    /*Light green #6FB444; */
    --darkgreen:#122903;
  }



  html,body{
    -webkit-tap-highlight-color: transparent; 
  }


/* ======================= Scroll-bar styles ===================== */


/* Firefox */
/* Hide scrollbars in Firefox */
* {
  scrollbar-color: #222222 #DFE9EB;
  scrollbar-width: thin;
  scroll-behavior: smooth;
}


/* Chrome, Edge and Safari */
*::-webkit-scrollbar {
  height: 0px;
  width: 0px;
}

/* =============================================================== */



  body{
    font-family: 'helvetica', sans-serif;
    background-color: var(--background);
    margin: 0;
    padding: 0;
  }
  